:root {
    /* Colors set up */
    --primary-submit: hsl(25, 97%, 53%);
    --card-bg: hsl(213, 19%, 18%);
    --body-bg: hsl(216, 12%, 8%);

    /* typography styles */
    --h1-text-color: hsl(0, 100%, 100%);
    --p-rate-number-color: hsl(217, 12%, 63%);
    --icon-number-background: hsl(217, 12%, 63%);
    --fs: .9375rem;
    /* --font: Overpass, sans-serif; */
    --fw-400: 400;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 100%;
    padding: 2em;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: var(--body-bg);
}

.container {
    width: 100%;
    height: auto;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 1.5em;
    gap: 1.5rem;
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    margin: 1em 0;

    .star-bg {
        justify-self: flex-start;
        min-width: 100%;
    }

    img {
        background-color: rgba(149, 158, 172, .3);
        padding: 1em;
        border-radius: 50%;
    }

    h1 {
        color: var(--h1-text-color);
        max-width: 100%;
        font-weight: var(--fw-700);
    }

    p {
        color: var(--p-rate-number-color);
        max-width: 50ch;
        line-height: 1.25rem;
        font-weight: var(--fw-400);
    }

    #rating-message {
        color: var(--primary-submit);
        background-color: rgba(149, 158, 172, .3);
        border-radius: 1000px;
        padding: .35em 1em;
    }

    .rate {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: .5rem;
    }

    button.rating {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.35em 1.75em;
        border-radius: 50%;
        border: none;
        background-color: rgba(149, 158, 172, .3);
        color: var(--p-rate-number-color);
        font-weight: var(--fw-400);
        cursor: pointer;
    }

    button.rating:is(:hover) {
        background-color: var(--primary-submit);
        color: black;
    }

    button.rating:is(:active),
    button.rating:is(:focus-visible) {
        background-color: var(--h1-text-color);
        color: black;
    }

    #submit-btn {
        cursor: pointer;
        min-width: 100%;
        padding: 1em;
        border-radius: 1000px;
        background-color: var(--primary-submit);
        font-weight: var(--fw-700);
        letter-spacing: .1rem;
        font-size: .85rem;
        border: none;
    }

    a {
        min-width: 100%;
        text-decoration: none;
    }

    #submit-btn:is(:hover) {
        background-color: var(--h1-text-color);
    }

    .close-btn {
        cursor: pointer;
        min-width: 100%;
        padding: 1em;
        border-radius: 1000px;
        background-color: var(--primary-submit);
        font-weight: var(--fw-700);
        letter-spacing: .1rem;
        font-size: .85rem;
        border: none;
    }
}

.thanks-card {
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}